In [2]:
# importing dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [3]:
# path to chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# visit Mars website
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [4]:
# parsing website for relevant tags
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [5]:
# scraping website for relevant title
slide_elem.find("div", class_='content_title')

<div class="content_title"><a href="/news/8880/nasa-awards-mars-ascent-propulsion-system-contract-for-sample-return/" target="_self">NASA Awards Mars Ascent Propulsion System Contract for Sample Return</a></div>

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

'NASA Awards Mars Ascent Propulsion System Contract for Sample Return'

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'The award moves NASA and ESA a step closer to realizing Mars Sample Return, an ambitious planetary exploration program that will build upon decades of science, knowledge, and experience.'

### Featured Images

In [8]:
# Visit URL
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [11]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [12]:
# Use the base URL to create an absolute URL
img_url = f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'
img_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

In [13]:
# website with mars facts - converting table to dataframe
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
# converting back to html
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Weather

In [15]:
# Visit the weather website
url = 'https://mars.nasa.gov/insight/weather/'
browser.visit(url)

In [16]:
# Parse the data
html = browser.html
weather_soup = soup(html, 'html.parser')

In [17]:
# Scrape the Daily Weather Report table
weather_table = weather_soup.find('table', class_='mb_table')
print(weather_table.prettify())

<table class="mb_table" id="weather_observation">
 <thead>
  <tr>
   <th colspan="2" id="time_lbl" scope="col">
    Time
   </th>
   <th colspan="3" id="temperature_lbl" scope="col">
    Air Temperature (
    <span class="lbl_fahrenheit">
     °F
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_celsius fadeBlack">
     °C
    </span>
    )
   </th>
   <th colspan="4" id="windspeed_lbl" scope="col">
    Wind Speed (
    <span class="lbl_mph">
     mph
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_mps fadeBlack">
     m/s
    </span>
    )
   </th>
   <th colspan="3" id="pressure_lbl" scope="col">
    Pressure (Pa)
   </th>
  </tr>
 </thead>
 <tbody>
  <tr id="weather_top">
   <th class="sol" scope="row">
    Date
   </th>
   <th class="sol" scope="row">
    Sol
   </th>
   <td class="temperature max">
    Max.
   </td>
   <td class="temperature avg">
    Avg.
   </td>
   <td class="temperature min">
    Min.
   </td>
   <td class="windspeed max">
    Max.
   </td>
   <td class="windspeed avg">
    Avg.
   </td>
   <td class="windspeed min">
    Min.
   </td>
   <td class="windspeed direction">
    Direction
    <br/>
    <span style="font-size:x-small">
     (most common)
    </span>
   </td>
   <td class="pressure max">
    Max.
   </td>
   <td class="pressure avg">
    Avg.
   </td>
   <td class="pressure min">
    Min.
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Mar. 3, 2021
   </th>
   <th class="sol" scope="row">
    806
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed point">
    <span class="nodata">
     N/A
    </span>
   </td>
   <td class="pressure max">
    742.6
   </td>
   <td class="pressure avg">
    723.6
   </td>
   <td class="pressure min">
    705.5
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Mar. 2, 2021
   </th>
   <th class="sol" scope="row">
    805
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed point">
    <span class="nodata">
     N/A
    </span>
   </td>
   <td class="pressure max">
    741.9
   </td>
   <td class="pressure avg">
    722.1
   </td>
   <td class="pressure min">
    703.6
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Mar. 1, 2021
   </th>
   <th class="sol" scope="row">
    804
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      <span class="nodata">
       N/A
      </span>
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     <span class="nodata">
      N/A
     </span>
    </span>
    <span class="mps" style="display:none">
     <span class="nodata">
      N/A
     </span>
    </span>
   </td>
   <td class="windspeed point">
    <span class="nodata">
     N/A
    </span>
   </td>
   <td class="pressure max">
    741.4
   </td>
   <td class="pressure avg">
    721.6
   </td>
   <td class="pressure min">
    704.4
   </td>
  </tr>
 </tbody>
</table>

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [4]:
# 1. Use browser to visit the URL 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [5]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
# Parse the data
html = browser.html
mars_img_soup = soup(html, 'html.parser')
img_tag = mars_img_soup.find_all('img', class_="thumb")

# iterating through list
for i in range(len(img_tag)):
    hemispheres = {}
    browser.find_by_tag('img.thumb')[i].click()
    full_img = browser.find_by_text('Sample').first
    hemispheres['img_url'] = full_img['href']
    hemispheres['title'] = browser.find_by_css('h2.title').text
    hemisphere_image_urls.append(hemispheres)
    browser.back()

In [6]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [7]:
# closing automated browser
browser.quit()